.taskbar {
  flex:1;
  max-width: 280px;
  background-color: #2e3137;
  display: flex;
  flex-direction: column;
}

.project_title {
  width: 100%;
  height: 52px;
  box-shadow: #0a101355 0px 0px 2px 0px, #0e111755 0px 0px 6px 0px;
  font-size: 10px;
  display: flex;
  padding: 0px 8px 0 16px;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

.project_title > h2 {
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.task_list_container {
  flex: 1;
  overflow: hidden;
}

.task_list {
  overflow-x: none;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.footer_bar {
  height: 52px;
  background-color: #292b2f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  padding: 0px 10px;
}

.avatar {
  margin: 0;
  padding: 0;
  display: flex;
}

.avatar > img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.avatar > span {
  position: relative;
  left: -16px;
  top: 26px
}

.create_task {
  background-color: #2E3137;
  outline: none;
  border: none;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border-radius: 8px;
  transition: all .1s ease-in-out;
  color: #ccc;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_task:hover {
  background-color: #36393E;
} 

.user_data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-start;
}

.online_text {
  color: #44bb44;
  font-size: 12px;
}
