.taskbar {
  position: relative;
  min-width: 240px;
  max-width: 240px;
  height: 100%;
  background-color: #2e3137;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.project_title {
  flex: 1;
  width: 100%;
  max-height: 52px;
  min-height: 52px;
  box-shadow: #0a101355 0px 0px 2px 0px, #0e111755 0px 0px 6px 0px;
  font-size: 10px;
  display: flex;
  padding: 0px 16px;
  justify-content: start;
  align-items: center;
  color: #ffffff;
}

.task_list_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.task_list {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.footer_bar {
  flex: 1;
  max-height: 52px;
  width: 100%;
  background-color: #292b2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.avatar {
  margin: 0;
  padding: 0;
  display: flex;
}

.avatar > img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.avatar > span {
  position: relative;
  left: -16px;
  top: 26px
}
