.commentform {
  height: 42px;
  background-color: #36393e;
}

.commentform > form {
  position: relative;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  height: 40px;
  border-radius: 8px;
  background-color: #40444b !important;
}

.commentform > form > input {
  width: 100%;
  background-color: transparent !important;
  color: #ccc;
  padding: 0 0 0 12px;
  font-size: 18px;
  border: none;
  outline: none;
}
