.commenttimeline {
  flex: 1;
  padding: 0 0 20px 0;
  overflow: auto;
  clear: both;
}


.commenttimeline::-webkit-scrollbar-track,
.commenttimeline::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px #2E3137;
  box-shadow: inset 0 0 4px #2E3137;
  background-color: #2E3137;
}
.commenttimeline::-webkit-scrollbar,
.commenttimeline::-webkit-scrollbar {
  width: 4px;
  background-color: #36393E;
}
.commenttimeline::-webkit-scrollbar-thumb,
.commenttimeline::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 4px #36393E;
  box-shadow: inset 0 0 4px #36393E;
  background-color: #36393E;
}